body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a Link {
  display: inline;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.ui.inverted.segment {
  border-radius: 0px;
}

.top-bar {
  display: flex;
}

div #mp3_player {
  width: 500px;
  height: 80px;
  background:#000;
  border-radius: 20px;
  /* padding:5px;
  margin:50px auto; */
}

div#mp3_player > div > audio {
  width:500px;
  background:#000;
  border-radius: 20px;
}

div#mp3_player > canvas {
  width:500px;
  height:80px;
  background:#002D3C;
  border-radius: 20px;
}

.media {
  display: flex;
  flex: center;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 625px;
  height: 115px;
  background-image: url('/images/steel-vis-backplate.png');
  border-radius: 20px;
}

#my_account {
  margin-left: 2vw;
  width: 55vw;
  display: flex;
  flex-direction: column;
}

#broadcast {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#broadcast-title {
  font-size: 100px;
  text-align: center;
}

#live-button {
  margin: 50px 50px 50px 200px
}

#broadcaster-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  margin-left: 50px;
  /* text-align: center; */
  background-color: darkgrey;
  border-radius: 10px;

}

#broadcaster-list h1 {
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  width: 95%;
  margin: 2%;
}

.user-mini {
  display: flex;
  width: 95%;
  border-radius: 10px;
  height: 60px;
  background-color: lightgray;
  margin-bottom: 5px;
}

.user-mini .mini-pic {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

#mini-data {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50px;
  margin: 5px;

}

#mini-data #rating {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#mini-data img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.max-width {
  min-width: 100vw;
  min-width:90vh;
}

.max-height {
  max-height: 70vh;
  min-height:70vh;
}

.main-body {
  background-image: url('./images/landing/main-body.jpg');
  margin: auto; 
}

.lower-body {
  background-image: url('./images/landing/lower-body.jpg');
  margin: auto; 
}

.flex {
  display: flex;
}

h3 .center-text {
  text-align:center;
}

.main-container {
  margin:0;
}

.auto-margin {
  margin: auto;
}

.white-font {
  color: white;
}
