body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a Link {
  display: inline;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.ui.inverted.segment {
  border-radius: 0px;
  height: 65px;
}

.top-bar {
  display: flex;
}

div #mp3_player {
  width: 96%;
  height: 80%;
  background:#000;
  border-radius: 20px;
  /* padding:5px;
  margin:50px auto; */
}

div#mp3_player > div > audio {
  background:#000;
  border-radius: 20px;
}

div#mp3_player > canvas {
  width:100%;
  height:100%;
  background:#002D3C;
  border-radius: 20px;
}

.media {
  display: flex;
  flex: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  width: 625px;
  height: 115px;
  background-image: url('/images/theme/steel-vis-backplate.png');
  border-radius: 20px;

}

#my_account {
  margin: 10vh 25% 0 25%;
  width: 55vw;
  display: flex;
  flex-direction: column;
}

.stations {
  display: flex;
}

#my_station {
  margin: 1vw;
}

#broadcast {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url("/images/broadcast/broadcast-page.jpg");
  background-size: cover;
  min-height: calc(100vh - 65px);
}

#broadcast-title {
  font-size: 100px;
  color: whitesmoke;
  text-shadow: 0 0 10px white;
  text-align: center;
  margin: 0 auto;
}

#broadcast-desc {
  font-size: 25px;
  color: whitesmoke;
  text-shadow: 0 0 10px white;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#live-button {
  height: 150px;
  margin: 25px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('/images/theme/steel.jpg');
  background-size: cover;
  border-radius: 85px;
  width: 940px;
  height: 170px;
}


#broadcaster-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  margin-left: 25px;
  margin-top: 10px;
  background-image: url('/images/theme/steel.jpg');
  background-size: cover;
  border-radius: 10px;
}

#broadcaster-list h1 {
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  width: 95%;
  margin: 3%;
}

.caster-mini {
  display: flex;
  width: 95%;
  border-radius: 10px;
  height: 60px;
  background-color: lightgray;
  margin-bottom: 3%;
}

.caster-pic {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

#caster-data {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50px;
  margin: 5px;
}

/* #caster-data #rating {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
} */

#caster-data img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.max-width {
  max-width: 100vw;
  min-width:100vw;
}

.max-height {
  max-height: 70vh;
  min-height:70vh;
}

.main-body {
  background-image: url('./images/landing/main-body.jpg');
}

.lower-body {
  background-image: url('./images/landing/lower-body.jpg');
}

.flex {
  display: flex;
}

h3 .center-text {
  text-align:center;
}

.main-container {
  margin:0;
}

.auto {
  margin: auto;
}

.white-font {
  color: white;
}

.break {
  background-color: #002D3C;
  min-height: 10vh;
  min-width: 100vw;
}

#caster-data p {
  font-size: .75em;
  margin: 0;
  padding: 0;
}
.caster-mini h4 {
  margin-bottom: 10px;
}

#broadcast-dash {
  display: flex;
}

#user-lists {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.footer-container {
  max-height: 6vh;
  min-height: 6vh;
  background-color:#002D3C;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: calc(94vh - 65px);
}

.new-broadcast {
  background-image: url('/images/broadcast/new-broadcast.jpg');
  background-size: cover;
}

.new-station {
  background-image: url('/images/Station/new-station-body.jpg');
  background-size: cover;
}

.height100 {
  min-height: 90vh;
  background: url('/images/Station/station-body.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.station-card {
  max-width: 30vw;
  max-height: 40vh;
  min-height: 40vh;
}

.center-text {
  text-align: center;
}

.button-link {
  background:gray;
  opacity: 0.7;
  border-radius: 0.5em;
  padding:2vh;
}

.margin-left {
  margin-left: 1vw;
}

.padding-top {
  padding-top: 2vh;
}

.station-broadcasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#station-broadcast {
  margin: 5px;
  width: 350px;
}

.sound-bar {
  border-radius: 75px;
  padding: 5px;
  height: 150px;
  width: 750px;
}

#back-button {
  width: 12vw;
  display: fixed;
  margin: 3vh 0 0 4vw;
}

.myStations {
  background-image: url('/images/Mystations/myStations.jpg')
}

.full-height {
  height: 100vh;
}

.margin-top {
  margin: 30vh 0 0 9vw;
}

.wide-left {
  margin: 0 0 0 8vw;
}

#back-button {
  width: 12vw;
  display: fixed;
  margin: 0 5vh;
  border-radius: 25rem;
}

.broadcast-mid-content {
  display: flex;
  flex-direction: column;
}

.all-broadcasts {
  display: flex;
  flex-direction: column;
  min-height: calc(90vh - 65px);
  /* flex-wrap: wrap; */
  background-image: url('/images/all_broadcasts/all_broadcasts_background.jpg');
  background-size: stretch;
  background-repeat: repeat-y;
}

.all-cast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#all-broadcasts-title {
  font-size: 100px;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  text-align: center;
  margin: 20px auto;
  border: 2px solid whitesmoke;
  padding: 0 35px;
  border-radius: 75px;
  box-shadow: 0 0 10px white;
}

#text-glow {
  font-size: 45px;
  color: black;
  text-shadow: 0 0 20px white;

}
.my-account {
  height: 95vh;
  width: 100vw;
  background-image: url('images/MyAccount/myAccount.jpg');
}

.shadow {
  text-shadow: 1px 1px #000000;
}

.station-title { 
  font-family: Arial;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 10px white;
}

.station-wrapper{
  padding:40px;
}

.button-link {
  background-color: #821601;
  color: #ECEFF1;
  border-color: #ECEFF1;
  border: 1px solid;
  margin-top: 30px;
  border-radius: 5px;
  background:gray;
  opacity: 0.7;
  border-radius: 0.5em;
  padding:2vh;  
  font-weight: 600;
  width: 200px;
}

.button-link:hover {
  color: #ECEFF1;
  background-color: black;
}

.padding-top-large {
  padding-top: 7vh;
}

.station-media-elemnt {
  width: 100%;
}

.border-1px {
  border: 1px solid whitesmoke;
}

.station-description {
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
  color:whitesmoke;
}

#back-button {
  width: 12vw;
  display: fixed;
  margin: 3vh 0 0 4vw;
}
