body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a Link {
  display: inline;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.ui.inverted.segment {
  border-radius: 0px;
}

